/* Begin Debug Objects CSS */

/* Set Admin Bar Item, if error message */
#wpadminbar .debug_objects_php_warning, #debugobjects li.debug_objects_php_warning,
#wpadminbar .debug_objects_php_notice, #debugobjects li.debug_objects_php_notice,
#wpadminbar .debug_objects_php_message, #debugobjects li.debug_objects_php_message {
	background: #d54e21 none !important;
}

#debugobjects * {
	margin: 0;
	padding: 0;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 12px;
	line-height: 1.6em;
}

#debugobjects a {
	color: #fff;
	background-color: #333;
	padding: 0 3px;
	text-decoration: none;
}

#debugobjects a:hover, .ui-state-active a {
	background-color: #114477 !important;
	color: #ccc !important;
}

div#debugobjects {
	margin: 30px 0;
	font-size: 11px !important; /* fix for all themes */
	color: #333;
	background: #f0f0f0;
	text-align: left;
	position: relative;
	z-index: 99990;
	clear: both;
}

div#debugobjects code {
	background: none;
	background-color: #f7f7f7 !important;
	word-wrap: break-word;
	padding: 0;
	color: #db4b39;
}

div#debugobjects pre {
	color: #db4b39;
	background: none;
	background-color: #f7f7f7 !important;
	width: 100%;
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

div#debugobjects .ui-tabs-nav li{
	margin: 5px 1px 0 3px;
}

div#debugobjects .ui-tabs-nav li a {
	padding: 1px 4px;
}

div#debugobjectstabs {
	padding: 10px;
}

div#debugobjectstabs, .ui-corner-all {
	border: 1px solid #DFDFDF;
	border-radius: 0;
}

div#debugobjects ol li {
	margin: 5px 0 5px 15px;
}

div#debugobjects div div ul li, div#debugobjects div div td,
div#debugobjects div div th {
	padding: 5px;
}

div#debugobjects table th {
	text-align: left;
}

div#debugobjects div div table, div#debugobjects div div td,
div#debugobjects div div th {
	border-collapse: collapse;
	border: 1px solid #bbb;
}

div#debugobjects #memory ul, div#debugobjects #conditional_tags ul,
div#debugobjects #hooks ul, div#debugobjects #template ul,
div#debugobjects #cache ul, div#debugobjects #constants ul,
div#debugobjects #queries ul {
	list-style-type: disc;
}

div#debugobjects #cache .root ul {
	border-left: 1px dotted #808080;
	padding-left: 30px;
}

div#debugobjects #constants ul li,
div#debugobjects #queries ul {
	padding: 10px;
	margin: 10px;
}

div#debugobjects h4, div#debugobjects h4 a, .h4 {
	color: #000;
	font-weight: 900;
	line-height: 2em;
}

div#debugobjects #memory li a, div#debugobjects #conditional_tags li a, div#debugobjects #debughooks li a, div#debugobjects #template li a, #debugobjects table td span {
	color: #114477;
	text-decoration: underline;
}

div#debugobjects #memory li a:hover, div#debugobjects #conditional_tags li a:hover, div#debugobjects #debughooks li a:hover, div#debugobjects #template li a:hover {
	color: #fff;
	background: #114477;
	text-decoration: none;
}

div#debugobjects .important {
	border: 2px solid #D54E21;
	padding: .5%;
	margin: 1em 0;
}

div#debugobjects table th:nth-child( odd ) {
	background: #ccc;
}
div#debugobjects .alternate, div#debugobjects .alt,
div#debugobjects table tr:nth-child( odd ),
div#debugobjects ul li:nth-child( odd ){
	background: #e6e6e6;
}

div#debugobjects #memory li, div#debugobjects #conditional_tags li, div#debugobjects #debughooks li li {
	padding: 3px 5px;
}

div#debugobjects table {
	width: 100%;
	margin-bottom: 20px;
}

div#debugobjects td {
	vertical-align: top;
}

div#debugobjects ul li:hover, div#debugobjects ol li:hover,
div#debugobjects tr:hover,
div#debugobjects tr:hover > td, div#debugobjects tr:hover > th,
div#debugobjects .alternate:hover, div#debugobjects .alt:hover {
	background: #F7D0C3;
	color: #333;
	font-weight: bold;
}

div#debugobjects tr.nohover:hover {
	background: none;
	border: none;
}

div#debugobjects li.ui-corner-top {
	border-radius: 0;
}

div#debugobjects li.none_list {
	list-style-type: none;
}

#hook_table table, #hook_table th {
	width: 100%;
	border: 1px solid #DADADA;
}

#hook_table th {
	font-weight: 900;
	padding: 5px 0;
}

#hook_table td {
	border: 1px solid #DADADA;
	padding: 2px 0;
	vertical-align:top;
	overflow:hidden;
}

#roleinspector td {
	text-align: center;
}
#roleinspector td.has-capability {
	font-weight: 900;
	color: #f0f0f0;
	background-color: #114477;
}

div#debugobjects #cron td {
	width: 16%;
}

#debugqueries {
	display: none !important;
}

.high_query_time {
	border: 2px solid orange;
}

.big_query_time {
	border: 2px solid red;
}

#debugobjects #pagehooks code span {
	font-weight: 900;
}
/* End Debug Objects CSS */
